<a href="https://colab.research.google.com/github/AryaaKafle/AryaaKafle/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2.1
x = 2
y = 3

print('a.', 'x =', x)
print('b.', 'Value of', x, '+', x, 'is', (x + x))
print('c.', 'x =')
print('d.', (x + y), '=', (y + x))

a. x = 2
b. Value of 2 + 2 is 4
c. x =
d. 5 = 5

In [ ]:
# 2.2
# input() returns a string, so we must convert to int.
rating = int(input('Enter an integer rating between 1 and 10: '))
print('You entered:', rating)

KeyboardInterrupt: Interrupted by user

In [ ]:
# 2.3
grade = int(input("Enter your numeric grade (0-100): "))

if grade >= 90:
    print(f"Congratulations! Your grade of {grade} earns you an A in this course")

KeyboardInterrupt: Interrupted by user

In [ ]:
# 2.4
left = 27.5
right = 2

print("27.5 + 2  =", left + right)
print("27.5 - 2  =", left - right)
print("27.5 * 2  =", left * right)
print("27.5 / 2  =", left / right)
print("27.5 // 2 =", left // right)
print("27.5 ** 2 =", left ** right)

27.5 + 2  = 29.5
27.5 - 2  = 25.5
27.5 * 2  = 55.0
27.5 / 2  = 13.75
27.5 // 2 = 13.0
27.5 ** 2 = 756.25

In [ ]:
# 2.5
pi = 3.14159
r = 2

diameter = 2 * r
circumference = 2 * pi * r
area = pi * (r ** 2)

print("Radius:", r)
print("Diameter:", diameter)
print("Circumference:", circumference)
print("Area:", area)

Radius: 2
Diameter: 4
Circumference: 12.56636
Area: 12.56636

In [ ]:
# 2.6
n = int(input("Enter an integer: "))

if n % 2 == 0:
    print(n, "is even")
else:
    print(n, "is odd")

In [ ]:
# 2.7
if 1024 % 4 == 0:
    print("1024 is a multiple of 4")
else:
    print("1024 is NOT a multiple of 4")

if 2 % 10 == 0:
    print("2 is a multiple of 10")
else:
    print("2 is NOT a multiple of 10")

1024 is a multiple of 4
2 is NOT a multiple of 10

In [ ]:
# 2.8
print("number\tsquare\tcube")
for n in range(6):
    print(f"{n}\t{n**2}\t{n**3}")

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

In [ ]:
# 2.9
ch = input("Enter a single character: ")
print("Character:", ch)
print("Integer value:", ord(ch))

Enter a single character: a
Character: a
Integer value: 97

In [ ]:
# 2.10
a = int(input("Enter first integer: "))
b = int(input("Enter second integer: "))
c = int(input("Enter third integer: "))

total = a + b + c
avg = total / 3
product = a * b * c
smallest = min(a, b, c)
largest = max(a, b, c)

print("Sum:", total)
print("Average:", avg)
print("Product:", product)
print("Smallest:", smallest)
print("Largest:", largest)

Enter first integer: 2

In [ ]:
# 2.11
n = int(input("Enter a five-digit integer: "))

d1 = n // 10000
d2 = (n // 1000) % 10
d3 = (n // 100) % 10
d4 = (n // 10) % 10
d5 = n % 10

print(d1, d2, d3, d4, d5, sep="   ")

In [ ]:
# #2.12
p = 1000
r = 0.07

for years in (10, 20, 30):
    a = p * (1 + r) ** years
    print(f"After {years} years: ${a:,.2f}")

In [ ]:
# 2.13
# Python integers have arbitrary precision (limited by available memory).
# Try a few huge powers and display how many digits they have.

exponents = [10, 100, 1000, 5000, 10000]
for e in exponents:
    number = 2 ** e
    print(f"2**{e} has {len(str(number))} digits")

In [ ]:
# 2.14
age = int(input("Enter your age in years: "))

max_hr = 220 - age
target_low = 0.50 * max_hr
target_high = 0.85 * max_hr

print("Maximum heart rate:", max_hr, "bpm")
print(f"Target heart-rate range: {target_low:.0f}–{target_high:.0f} bpm")

In [ ]:
# 2.15
x = float(input("Enter first float: "))
y = float(input("Enter second float: "))
z = float(input("Enter third float: "))

# Determine ascending order using comparisons (works even with duplicates).
if x <= y:
    if y <= z:
        a, b, c = x, y, z
    elif x <= z:
        a, b, c = x, z, y
    else:
        a, b, c = z, x, y
else:
    if x <= z:
        a, b, c = y, x, z
    elif y <= z:
        a, b, c = y, z, x
    else:
        a, b, c = z, y, x

print("Ascending order:", a, b, c)

In [ ]:
# 3.1
passes = 0
total_students = 10
student = 1

while student <= total_students:
    result = input("Enter result (1=pass, 2=fail): ").strip()
    if result not in ("1", "2"):
        print("Invalid input. Please enter 1 or 2.")
        continue  # ask again for the same student

    if result == "1":
        passes += 1

    student += 1

failures = total_students - passes

print("Passed:", passes)
print("Failed:", failures)

if passes > 8:
    print("Bonus to instructor!")

In [ ]:
# 3.2
a = b = 7
print('a =', a, '\nb =', b)

# Nothing is wrong: chained assignment sets both a and b to 7,
# and '\n' prints a newline.

In [ ]:
# 3.3
for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end='')
    print()

In [ ]:
# 3.4
for row in range(2):
    for col in range(7):
        print('@', end='')
    print()

In [ ]:
# 3.5
x = int(input("Enter first integer: "))
y = int(input("Enter second integer: "))

if x == y:
    print("x is equal to y")
else:
    print("x is not equal to y")

if x < y:
    print("x is less than y")
else:
    print("x is greater than or equal to y")

if x <= y:
    print("x is less than or equal to y")
else:
    print("x is greater than y")

In [ ]:
# 3.6
print("Hi, I'm a computer. Let's chat.")
problem = input("What is your problem? ")

had_before = input("Have you had this problem before (yes/no)? ").strip().lower()

if had_before in ("yes", "y"):
    print("Well, you have it again.")
else:
    print("Well, you have it now.")

print("Thanks for chatting!")

In [ ]:
# 3.7
print(f"{'number':>6}{'square':>8}{'cube':>8}")
for n in range(6):
    print(f"{n:>6}{n**2:>8}{n**3:>8}")

In [ ]:
# 3.8
nums = []
for i in range(1, 5):
    nums.append(int(input(f"Enter integer {i}: ")))

total = sum(nums)
avg = total / len(nums)

product = 1
for n in nums:
    product *= n

print("Numbers:", nums)
print("Sum:", total)
print("Average:", avg)
print("Product:", product)
print("Smallest:", min(nums))
print("Largest:", max(nums))

In [ ]:
# 3.9
n = int(input("Enter a five-digit integer: "))

divisor = 10000
digits = []

for _ in range(5):
    digit = n // divisor
    digits.append(digit)
    n = n % divisor
    divisor //= 10

print(*digits, sep="   ")

In [ ]:
# 3.10
p = 1000
r = 0.07

print(f"{'Year':>4} {'Amount':>15}")
for year in range(1, 31):
    amount = p * (1 + r) ** year
    print(f"{year:>4} {amount:>15,.2f}")

In [ ]:
# 3.11
total_miles = 0.0
total_gallons = 0.0

while True:
    miles = float(input("Enter miles driven (-1 to end): "))
    if miles == -1:
        break

    gallons = float(input("Enter gallons used: "))
    if gallons <= 0:
        print("Gallons must be > 0. Try again.")
        continue

    mpg = miles / gallons
    print(f"MPG this tankful: {mpg:.2f}")

    total_miles += miles
    total_gallons += gallons

if total_gallons > 0:
    combined_mpg = total_miles / total_gallons
    print(f"\nTotal miles: {total_miles:.2f}")
    print(f"Total gallons: {total_gallons:.2f}")
    print(f"Combined MPG: {combined_mpg:.2f}")
else:
    print("No data entered.")

In [ ]:
# 3.17
rows = 10

# Pattern (a): 1 to 10 asterisks
for i in range(1, rows + 1):
    print('*' * i)
print()

# Pattern (b): 10 down to 1 asterisks
for i in range(rows, 0, -1):
    print('*' * i)
print()

# Pattern (c): right-aligned increasing
for i in range(1, rows + 1):
    spaces = rows - i
    print(' ' * spaces + '*' * i)
print()

# Pattern (d): right-aligned decreasing
for i in range(rows, 0, -1):
    spaces = rows - i
    print(' ' * spaces + '*' * i)

In [ ]:
# 3.18
rows = 10
sep = "   "

for i in range(1, rows + 1):
    # (a) increasing
    a = '*' * i

    # (b) decreasing
    b = '*' * (rows - i + 1)

    # (c) right-aligned increasing
    c = ' ' * (rows - i) + '*' * i

    # (d) right-aligned decreasing
    d = ' ' * (i - 1) + '*' * (rows - i + 1)

    print(f"{a:<10}{sep}{b:<10}{sep}{c:<10}{sep}{d:<10}")

In [ ]:
# 3.19
limit = 20
triples = []

for side1 in range(1, limit + 1):
    for side2 in range(side1, limit + 1):  # side2 >= side1 to reduce duplicates
        for hypotenuse in range(side2, limit + 1):  # hypotenuse >= side2
            if side1**2 + side2**2 == hypotenuse**2:
                triples.append((side1, side2, hypotenuse))

print("Pythagorean triples with values ≤ 20:")
for t in triples:
    print(t)

In [ ]:
# 3.20
binary = int(input("Enter a binary number (e.g., 1101): "))

decimal = 0
position_value = 1

while binary > 0:
    digit = binary % 10
    if digit not in (0, 1):
        raise ValueError("Input contained a digit other than 0 or 1.")
    decimal += digit * position_value
    position_value *= 2
    binary //= 10

print("Decimal equivalent:", decimal)

In [ ]:
//file handling
#serialization with jason
import jason
data = {"name"; "Alice","age":24}
with open